body {
    text-align: center;
}

button,
select,
input {
    border: 1px solid;
    height: 19px;
}

input[type=text] {
    height: 16px;
}

#content {
    margin-right: auto;
    margin-left: auto;
    vertical-align: middle;
    width: 100%;
}

#content ul {
    padding: 0px;
}

#content ul li {
    margin: 3px 0px 3px 0px;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: rgb(5, 101, 255);
    transition: 1s linear;  
    transition-property: width, background-color;  
}